<app-header [title]="title"></app-header>

<div class="page-wrapper">
  <form [formGroup]="form" class="form">
    <app-mat-form-input [form]="form" [propertyFormName]="'firstName'" [labelName]="'First name'"></app-mat-form-input>
    <app-mat-form-input [form]="form" [propertyFormName]="'lastName'" [labelName]="'Last name'"></app-mat-form-input>
    <app-mat-form-input [form]="form" [propertyFormName]="'email'" [labelName]="'Email address'"></app-mat-form-input>
    <app-mat-form-input [form]="form" [propertyFormName]="'phoneNumber'" [labelName]="'Phone'"></app-mat-form-input>
    <app-mat-form-input [form]="form" [propertyFormName]="'country'" [labelName]="'Country'"></app-mat-form-input>
  </form>

  <div class="actions-wrapper">
    <button mat-raised-button class="save" (click)="onSave()">Save</button>
    <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="customerId">Delete</button>
    <button mat-raised-button class="cancel" (click)="onCancelAsync()">Cancel</button>
  </div>
</div>
