<app-header [title]="title"></app-header>

<div class="page-wrapper">
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="standard">
      <mat-label>First name</mat-label>
      <input matInput placeholder="First name" formControlName="firstName">
      <mat-error *ngIf="!form.get('firstName')?.valid && form.get('firstName')?.touched">
        {{ 'First name is invalid' }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Last name</mat-label>
      <input matInput placeholder="Last name" formControlName="lastName">
      <mat-error *ngIf="!form.get('lastName')?.valid && form.get('lastName')?.touched">
        {{ 'Last name is invalid' }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email address" formControlName="email">
      <mat-error *ngIf="!form.get('email')?.valid && form.get('email')?.touched">
        {{ 'Email is invalid' }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Phone" formControlName="phoneNumber">
      <mat-error *ngIf="!form.get('phoneNumber')?.valid && form.get('phoneNumber')?.touched">
        {{ 'Phone is invalid' }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Country</mat-label>
      <input matInput placeholder="Country" formControlName="country">
      <mat-error *ngIf="!form.get('country')?.valid && form.get('country')?.touched">
        {{ 'Country is invalid' }}
      </mat-error>
    </mat-form-field>
  </form>

  <div class="actions-wrapper">
    <button mat-raised-button class="save" (click)="onSave()">Save</button>
    <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="customerId">Delete</button>
    <button mat-raised-button class="cancel" (click)="onCancelAsync()">Cancel</button>
  </div>
</div>
